html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    /* font-family: 'League Spartan', sans-serif; */
    /* font-family: 'Source Code Pro', monospace; */
}

/* Color Theme Swatches in Hex */
.My-Color-Theme-1-hex {
    color: #0D192D;
}

.My-Color-Theme-2-hex {
    color: #91FCDC;
}

.My-Color-Theme-3-hex {
    color: #CED7F3;
}

.My-Color-Theme-4-hex {
    color: #8A93AD;
}

.My-Color-Theme-5-hex {
    color: #121212;
}

#__next {
    background-color: #0D192D;
}

/* For navbar */
#header {
    backdrop-filter: blur(15px);
}

.navbar-brand {
    font-family: 'Source Code Pro', monospace;
    font-weight: 900;
    color: white !important;
}

.navbar-toggler {
    background-color: white !important;
    color: white !important;
}

.navbar-nav {
    margin-right: 20%;
    font-family: 'Source Code Pro', monospace;
    font-weight: 500;
}

.navbar-nav .nav-link {
    margin-right: 30%;
    color: white;
}

.navbar-nav .nav-link.active, .navbar-nav .show>.nav-link.active {
    color: white !important;
}

.navbar-nav .nav-link:hover, .navbar-nav .nav-link.active:hover {
    color: #91FCDC !important;
}

#main {
    height: 100%;
    padding-top: 56px;
    font-family: 'League Spartan', sans-serif;
    color: white;
    padding: 150px 20% 0;
}

#main>.row {
    padding-bottom: 20%;
}

/* **************** */
/* For hero section */
/* **************** */
.row .col-md-5 .headshot-container {
    position: relative;
    width: 60%;
    border-radius: 50%;
}

.row .col-md-5 .headshot-container::after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.row .col-md-5 .headshot-container .fit-image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section_container {
    position: relative;
}

#projects {
    position: absolute;
    top: -56px;
    left: 0px;
}

#projects_content {
    width: 100%;
    height: 500px;
    text-align: center;
}

#about {
    position: absolute;
    top: -56px;
    left: 0px;
}

#about_content {
    width: 100%;
    height: 500px;
    text-align: center;
}

#contact {
    position: absolute;
    top: -56px;
    left: 0px;
}

#contact_content {
    width: 100%;
    height: 500px;
    text-align: center;
}

#footer {
    width: 100%;
    height: 50px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.539);
}