html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    /* background-color: #0D192D; */
    /* font-family: 'League Spartan', sans-serif; */
    /* font-family: 'Source Code Pro', monospace; */
}

/* Color Theme Swatches in Hex */
.My-Color-Theme-1-hex {
    color: #0D192D;
}

.My-Color-Theme-2-hex {
    color: #91FCDC;
}

.My-Color-Theme-3-hex {
    color: #CED7F3;
}

.My-Color-Theme-4-hex {
    color: #8A93AD;
}

.My-Color-Theme-5-hex {
    color: #14223E;
}

/* **************** */
/*   For navbar     */
/* **************** */
#header {
    background-color: #0D192D;
}

.navbar-brand {
    font-family: 'Source Code Pro', monospace;
    font-weight: 900;
    color: white !important;
}

.navbar-toggler {
    background-color: transparent !important;
    border: none !important;
    color: white !important;
}

.navbar-nav {
    font-family: 'Source Code Pro', monospace;
    font-weight: 500;
}

.navbar-nav .nav-link {
    margin-right: 3rem;
    color: white;
}

.navbar-nav .nav-link.active, .navbar-nav .show>.nav-link.active {
    color: white !important;
}

.navbar-nav .nav-link:hover, .navbar-nav .nav-link.active:hover {
    color: #91FCDC !important;
}

.navbar-nav .resume-btn {
    background-color: transparent !important;
    color: #91FCDC !important;
    border-color: #91FCDC !important;
    max-width: 5em;
    height: 2.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-nav .resume-btn:visited, .navbar-nav .resume-btn:active {
    background-color: transparent !important;
    color: #91FCDC !important;
    border-color: #91FCDC !important;
}

.navbar-nav .resume-btn:hover {
    background-color: #64ffda1a;
    color: #91FCDC;
    border-color: #91FCDC;
}

#main {
    height: 100%;
    padding-top: 56px;
    font-family: 'League Spartan', sans-serif;
    /* background-color: #0D192D; */
}

#main>.row {
    padding: 5% 5% 5%;
}

#main>.row:first-of-type {
    padding: 5% 5% 10%;
}

#main>.row:last-of-type {
    padding-bottom: 7%;
}

/* **************** */
/* For hero section */
/* **************** */
.hero-container .hello-text {
    color: #91FCDC;
    font-family: 'Source Code Pro', monospace;
    font-size: clamp(14px, 4vw, 16px);
    z-index: 2;
    /* display: inline-block; */
}

.hero-container .name-heading {
    color: #CED7F3;
    font-size: clamp(30px, 6vw, 60px);
}

.hero-container .hero-text {
    color: #8A93AD;
    font-size: clamp(30px, 6vw, 60px);
}

.hero-container .intro-text {
    color: #8A93AD;
    font-size: 18px;
}

.row .illustration-container {
    position: relative;
    width: 80%;
}

.row .illustration-container::after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.row .illustration-container .illustration {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ********************** */
/* For content conatiners */
/* ********************** */
.section-container {
    position: relative;
}

.section-container .section-heading {
    color: #CED7F3 !important;
}

.section-container h2 {
    font-weight: 600;
    font-size: clamp(26px, 5vw, 32px);
    position: relative;
}

.section-container h2 span {
    background: #0D192D;
    padding-right: 10px;
}

.section-container h2::after {
    display: inline-block;
    content: "";
    border-top: 0.09rem solid #91fcdc83;
    width: 20%;
    margin: 0.3em 1rem;
    transform: translate(-1rem);
}

/* ******************* */
/* For project section */
/* ******************* */

#projects {
    position: absolute;
    top: -56px;
    left: 0px;
}

.project {
    padding: 5%;
}

.project-image {
    width: 100%;
    height: 100%;
    position: relative;
}

.project-image a {
    position: relative;
}

.project-image .image {
    width: 100%;
    height: 100%;
    position: relative !important;
    object-fit: cover;
    border-radius: 8px;
}

.project .project-title {
    margin-bottom: 5%;
}

.project .project-title a {
    color: #CED7F3 !important;
    font-size: clamp(24px, 5vw, 28px);
    text-decoration: none;
}

.project .project-title a:hover {
    color: #91FCDC !important;
}

.project .project-description {
    color: #8A93AD;
    position: relative;
    z-index: 2;
    padding: 20px;
    border-radius: 4px;
    background-color: #14223E;
    font-size: 18px;
}

.project .project-tech-list {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    z-index: 2;
    margin: 25px 0px 10px;
    list-style: none;
    padding: 0;
}

.project .project-tech-list li {
    color: #8A93AD;
    white-space: nowrap;
    margin: 0px 20px 5px 0px;
}

.project-button .btn {
    background-color: transparent;
    padding: 0;
    color: #8A93AD;
}

.project-button .btn:hover {
    background-color: transparent;
    color: #91FCDC;
}

@media (max-width: 767px) {
    .project {
        width: 100%;
        margin: 0 !important;
        box-shadow: 3px 3px 15px 5px #0d192dc3;
    }

    .project-image .image {
        object-fit: cover;
        border-radius: 8px 8px 0 0;
    }

    .project-content {
        width: 100%;
        background-color: #14223E;
        padding: 5%;
        border-radius: 0 0 8px 8px;
        text-align: left;
        text-align: left;
    }

    .project-content .project-title {
        text-align: center;
    }

    .project-content {
        position: relative;
        left: 0;
        right: 0;
        margin-left: 0;
        margin-right: 0;
    }

    .project-content .project-tech-list {
        justify-content: flex-start !important;
    }

    .project-content .project-tech-list li {
        margin: 0px 20px 5px 0px !important;
    }

    .project .project-description {
        background: none;
        padding: 0;
    }
}

/* ******************* */
/* For about section   */
/* ******************* */
#about {
    position: absolute;
    top: -56px;
    left: 0px;
}

.about {
    padding: 5% 5% 0;
}

.headshot-container {
    position: relative;
    width: 80%;
    max-width: 350px;
}

.headshot-container::after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.headshot-container .headshot {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about .col-md-7 p {
    color: #8A93AD;
    font-size: 18px;
}

.about .col-md-7 ul {
    color: #8A93AD;
    font-size: 14px;
    display: grid;
    grid-template-columns: 1.5fr 1.5fr;
    gap: 0 10px;
    padding: 0;
    margin: 20px 0 0;
    overflow: hidden;
    list-style: none;
    text-align: left;
}

.about .col-md-7 li {
    position: relative;
    margin-bottom: 10px;
    padding-left: 20px;
    font-family: 'Source Code Pro', monospace;
}

.about .col-md-7 li::before {
    content: "▹";
    position: absolute;
    left: 0px;
    color: #91FCDC;
}


/* ********************* */
/* For contact section   */
/* ********************* */
#contact {
    position: absolute;
    top: -56px;
    left: 0px;
}

.contact {
    padding-top: 5%;
}

.contact .col .contact-text {
    color: #8A93AD;
    text-align: center;
}

.contact .col .socials {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

.contact .col .socials a {
    color: #8A93AD;
    border: none;
    font-size: clamp(30px, 4vw, 35px);
    padding: 0;
    margin: 0 2%;
}

.contact .col .socials a:hover {
    color: #91FCDC;
}

.contact .col .email-button {
    text-align: center;
    margin-top: 2%;
}

.contact .col .email-button .btn {
    font-family: 'Source Code Pro', monospace;
    background-color: transparent;
    border-color: #91FCDC;
    color: #91FCDC;
}

.contact .col .email-button .btn:hover {
    background-color: #64ffda1a;
}

.contact .col .email-button .btn a {
    color: #91FCDC;
    text-decoration: none;
}

/* ********** */
/* For footer */
/* ********** */
#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    font-family: 'Source Code Pro', monospace;
    font-size: 12px;
    color: #8A93AD;
    height: auto;
    min-height: 70px;
    padding: 1%;
    backdrop-filter: blur(15px);
}

.footer-text {
    margin-bottom: 1%;
}

.footer-text:hover {
    color: #91FCDC;
}

.footer-tech-list {
    width: 100%;
}

.footer-tech-list svg {
    margin: 0 1%;
}