html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    /* font-family: 'League Spartan', sans-serif; */
    /* font-family: 'Source Code Pro', monospace; */
}

/* Color Theme Swatches in Hex */
.My-Color-Theme-1-hex {
    color: #0D192D;
}

.My-Color-Theme-2-hex {
    color: #91FCDC;
}

.My-Color-Theme-3-hex {
    color: #CED7F3;
}

.My-Color-Theme-4-hex {
    color: #8A93AD;
}

.My-Color-Theme-5-hex {
    color: #14223E;
}

/* #__next {
    background-color: #0D192D;
} */

/* **************** */
/*   For navbar     */
/* **************** */
#header {
    backdrop-filter: blur(15px);
}

.navbar-brand {
    font-family: 'Source Code Pro', monospace;
    font-weight: 900;
    color: white !important;
}

.navbar-toggler {
    background-color: transparent !important;
    /* backdrop-filter: blur(15px) !important; */
    border: none !important;
    color: white !important;
}

.navbar-nav {
    margin-right: 20%;
    font-family: 'Source Code Pro', monospace;
    font-weight: 500;
}

.navbar-nav .nav-link {
    margin-right: 30%;
    color: white;
}

.navbar-nav .nav-link.active, .navbar-nav .show>.nav-link.active {
    color: white !important;
}

.navbar-nav .nav-link:hover, .navbar-nav .nav-link.active:hover {
    color: #91FCDC !important;
}

#main {
    height: 100%;
    padding-top: 56px;
    font-family: 'League Spartan', sans-serif;
    padding: 150px 10% 0;
}

#main>.row {
    padding-bottom: 15%;
}

/* **************** */
/* For hero section */
/* **************** */
.row .col-md-5 .headshot-container {
    position: relative;
    width: 80%;
    border-radius: 50%;
}

.row .col-md-5 .headshot-container::after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.row .col-md-5 .headshot-container .fit-image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ********************** */
/* For content conatiners */
/* ********************** */
.section-container {
    position: relative;
}

.section-container .section-heading {
    color: #CED7F3 !important;
}

.section-container h2 {
    font-weight: 600;
    font-size: clamp(26px, 5vw, 32px);
    position: relative;
}

.section-container h2 span {
    background: #0D192D;
    padding-right: 10px;
}

.section-container h2::after {
    display: inline-block;
    content: "";
    border-top: 0.09rem solid #91fcdc83;
    width: 20%;
    margin: 0.3em 1rem;
    transform: translate(-1rem);
}

/* ******************* */
/* For project section */
/* ******************* */

#projects {
    position: absolute;
    top: -56px;
    left: 0px;
}

.projects {
    padding: 5% 5% 0;
}

.projects .col .card {
    border: none;
    border-radius: 0;
    height: 100%;
}

.projects .col .card img {
    border-radius: 0;
}

.projects .col .card .card-body {
    background-color: #14223E;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.projects .col .card .card-body .card-title {
    color: #CED7F3 !important;
}

.projects .col .card .card-body .card-text {
    color: #8A93AD;
}

.projects .col .card .card-body .card-text svg {
    margin-right: 8%;
    color: #91FCDC;
}

.projects .col .card .card-body .card-button {
    text-align: center;
}

.projects .col .card .card-body .card-button .btn {
    background-color: transparent;
    color: #91FCDC;
    border-color: #91FCDC;
}

/* ******************* */
/* For about section   */
/* ******************* */
#about {
    position: absolute;
    top: -56px;
    left: 0px;
}

#about_content {
    width: 100%;
    height: 500px;
    text-align: center;
}

#contact {
    position: absolute;
    top: -56px;
    left: 0px;
}

#contact_content {
    width: 100%;
    height: 500px;
    text-align: center;
}

#footer {
    width: 100%;
    height: 50px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.539);
}